.info {
    position: fixed;
    top:10%;
    left:10%;
    right: 10%;
    padding:20px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    color: #fff;
    border-radius: 10px;
    font-size: 1.2rem;
    z-index: 10;
    word-wrap: break-word;
    

    img {
        width: 100px;
    }

}

.title {
    margin-bottom: 30px;

    p {
        margin: 10px;
        font-size: 0.6rem;
    }
}

.main {
    text-align: left;
    line-height: 1.4;
}

button {
    cursor: pointer;
    border-radius: 10px;
    padding: 15px 45px;
    background: rgb(0,0,0);
    color: #fff;
    border: none;
    box-shadow: 0 0 30px rgb(255,255,255);
    margin-top: 30px;
    font-size: 1.2rem;
}

@media (min-width: 500px) {
    .info {
        left:20%;
        right: 20%;
    }
}

@media (min-width: 1000px) {
    .info {
        left:30%;
        right: 30%;
    }
}

@media (max-height: 375px) {
    .info {
        font-size: 0.8rem;
    }
}